.about-us {
    background-color: _palette(bg-secondary);
    padding: 4rem 0;
    &.choose-us {
        text-align: center;
    }

    h3 {
        font-family: _font(emphasis);
        text-transform: uppercase;
    }
}



@include breakpoint(medium) {
    .about-us {
        text-align: center;
    }
}