/* Banner SCSS */

#banner {
  .carousel-caption {
    font-size: 10rem;
    background: #db9f1db5;
    padding: 1rem 1rem 1rem 1rem;
    text-transform: uppercase;
    width: 33%;
    height: fit-content;
    bottom: none;
    top: 15%;
    left: 10%;
    border-radius: 20px;
  }

  .carousel-indicators {
    display: none;
  }

  .heading1 {
    text-align: left;
    font-size: 2rem;
    letter-spacing: 4px;
    margin-bottom: 5px;
  }

  .heading2 {
    text-align: left;
    font-size: 3.5rem;
    color: _palette(fg);
  }

  @include breakpoint(xxlarge) {
    .carousel-caption {
      width: 37%;
    }
  }
  @include breakpoint(large) {
    .heading1 {
      font-size: 1.8rem;
    }
    .heading2 {
      font-size: 3.2rem;
    }
  }
  @include breakpoint(large2) {
    .carousel-caption {
      width: 37%;
    }
    .heading1 {
      font-size: 1.4rem;
    }
    .heading2 {
      font-size: 2.8rem;
    }
  }
  @include breakpoint(medium2) {
    //938
    .carousel-caption {
      width: 40%;
    }
    .heading1 {
      font-size: 1.2rem;
    }
    .heading2 {
      font-size: 2.6rem;
    }
  }
  @include breakpoint(small1) {
    .carousel-caption {
      width: 43%;
    }
    .heading1 {
      font-size: 1rem;
    }
    .heading2 {
      font-size: 2.2rem;
    }
  }
  @include breakpoint(small3) {
    .carousel-caption {
      width: 50%;
    }
  }
  @include breakpoint(xsmall1) {
    .carousel-caption {
      width: 50%;
    }
    .heading1 {
      font-size: 0.8rem;
    }
    .heading2 {
      font-size: 1.6rem;
    }
  }
  @include breakpoint(xsmall2) {
    .carousel-caption {
      width: 60%;
    }
    .heading1 {
      font-size: 0.5rem;
    }
    .heading2 {
      font-size: 1.5rem;
    }
  }
  @include breakpoint(xsmall3) {
    .carousel-caption {
      width: 60%;
      height: 70%;
    }
    .heading1 {
      font-size: 0.3rem;
    }
    .heading2 {
      font-size: 1rem;
    }
  }
}
