/* Banner SCSS */

#banner {
  .carousel-caption {
    font-size: 10rem;
    background: #b1b1b1c4;
    padding: 1rem 0 1rem 1rem;
    text-transform: uppercase;
    width: 33%;
    height: 25rem;
    bottom: none;
    top: 15%;
    left: 10%;
  }

  .heading1 {
    font-size: 2rem;
    letter-spacing: 4px;
    margin-bottom: 5px;
  }

  .heading2 {
    font-size: 3.5rem;
    color: _palette(fg);
  }
}
