.get-quote {
  background-color: _palette(p-blue);
  padding: 4rem 0;
  color: rgba(255, 255, 255, 0.705);

  a {
    text-decoration: none;
  }

  .container {
    display: block;
    margin: 0 auto;
    width: 50%;
    background-color: #454b54;
    box-shadow: 0 3px 21px #608282;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
  }

  .contact-heading {
    text-transform: none;
    color: white;
    margin: 1rem;
  }

  .contact-para {
    margin: 0 0 3rem;
  }

  @include breakpoint(medium) {
    .container {
      width: 80%;
      padding: 2rem 1rem;
    }
    .contact-heading {
      font-size: 2rem;
    }
  }
}
