.email-form {
    hr {
        background-color: _palette(p-blue5);
        height: 0.1rem;
    }
    .ct-icon {
        font-size: 1.3rem;
    }
    input[type="text"], textarea {
        width: 100%;
        margin-bottom: 1rem;
        font-family: _font(family);
        border-radius: .9rem;
        border: 1px solid #b1b1b1;
        padding: .7rem;
        outline: none;
        &.home {
            border: none;
            border-radius: .4rem;
        }
    }
    input[type="button"] {
        width: fit-content;
        margin-top: 1rem;
    }
    .send-email-note {
        font-size: 1rem;
        font-style: italic;
    }
}
