.feature-eq {
  text-align: center;
  padding: 4rem 0;
  background-color: _palette(p-light2);

  h2 {
    margin-bottom: 3rem;
    color: _palette(fg);
  }

  .row {
    margin-bottom: 5rem;
  }

  .feature-pic {
    width: 8rem;
    text-align: center;
  }

  .view-btn {
    margin: none;
    background: _palette(p-blue);
    box-shadow: 0 3px 11px _palette(p-med3);
    border: none;
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    transition: all .2s ease-in;

    &:hover {
        background: _palette(p-blue2);
    }
  }
}
