.feature-eq {
  text-align: center;
  padding: 3rem 6rem;
  background-color: _palette(p-blue3);

  .heading {
    margin-bottom: 3rem;
    color: _palette(p-med);
    text-align: left;
    text-transform: capitalize;
    font-weight: _font(w-bold);
  }

  .row {
    margin-bottom: 5rem;
  }

  .feature-pic {
    width: 8rem;
    text-align: center;
  }
                
  //Overriding Bootstrap carousel indicator           
  .carousel-indicators {
    li {
      width: .6rem;
      height: .6rem;
      border-top: none;
      border-bottom: none;
      border-radius: 100rem;
      background-color: _palette(p-blue2);
      margin-bottom: 1rem;
    }
  }
  
  @include breakpoint(small1) {
    .heading {
        text-align: center;
    }
  }
}

