.feature-eq {
  text-align: center;
  padding: 3rem 6rem;
  background-color: _palette(p-light2);

  .heading {
    margin-bottom: 3rem;
    color: _palette(fg);
    text-align: left;
    text-transform: capitalize;
    font-weight: _font(w-bold);
  }

  .row {
    margin-bottom: 5rem;
  }

  .feature-pic {
    width: 8rem;
    text-align: center;
  }

  .view-btn {
    margin: none;
    background: _palette(p-dark);
    box-shadow: 0 3px 11px #757688;
    border: none;
    border-radius: 3rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    transition: all 0.2s ease-in;

    &:hover {
      background: _palette(blk);
    }
  }
}
