.testimonials {
  padding: 3rem 6rem;
  background-color: _palette(p-light2);

  &.why-choose-us {
    background-color: _palette(p-med);
    text-align: center;
    p, h5 {
      color: white !important;
    }
  }

  .heading-one,
  .heading-two {
    margin-bottom: 3rem;
    color: _palette(fg);
    text-transform: capitalize;
    font-weight: _font(w-bold);
  }

  .heading-one {
    text-align: left;
    color: _palette(fg);
  }

  .heading-two {
    text-align: right;
    color: _palette(p-dark);
  }

  &.partners {
    background-color: _palette(fg);
  }
  .testi-icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    }
  @include breakpoint(small1) {
    .heading-one,
    .heading-two {
        text-align: center;
    }
  }
}
