.testimonials {
    text-align: center;
    padding: 4rem 0;
    background-color: _palette(p-light2);
    &.why-choose-us {
        background-color: _palette(p-blue3);
        h2 {
            margin-bottom: 3rem;
            color: _palette(p-med);
        }
    }
    &.partners {
        background-color: #fff;
        h2 {
            margin-bottom: 3rem;
            color: _palette(p-med);
        }
    }
    
}