/* Header SCSS */

#header {
  // Custom Brand
  .brand {
    font-size: 1.5rem;
    font-weight: _font(w-bold);

    .logo {
      width: 50px;
      height: 50px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  // Custom Bar
  .navbar-bg {
    font-family: _font(family);
    letter-spacing: 1px;
    background: _palette(fg);
  }

  // Custom Toggler
  .hamburger {
    color: _palette(p-med);
    border: none;
  }

  // Custom Nav Links
  .section-link {
    font-family: _font(family);
    font-weight: _font(w-med);
    font-size: 1rem;
    color: _palette(p-med);
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in;

    &:hover {
      color: _palette(p-blue);
      text-decoration: none;
    }
  }

  .request-link {
    font-family: _font(family);
    font-weight: _font(w-med);
    background-color: _palette(p-blue);
    color: _palette(fg);
    font-size: 1rem;
    margin: 0 10px;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: _palette(p-darkblue);
      cursor: pointer;
      text-decoration: none;
    }
  }

  /* Other Overrides on Bootstrap Navbar SCSS */
  // .nav-link.section-link {
  //     &:hover {
  //         color: _palette(fg) !important;
  //     }
  // }

  .navbar-toggler,
  .navbar-toggler-icon {
    border: none;
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }

  // .navbar-toggler:hover,
  // .navbar-toggler-icon:hover {
  //     transition: .6s;
  //     transform: rotate(90deg);
  // }
}
